* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Staatliches', 'Arial', sans-serif;
}

body {
  font-size: 48px;
  color: #002366;
}

.container {
  position: relative;
}

.child {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid;   
  padding: 20px 25px;
  margin: 0 auto;
}
